<nav class="navbar">
  <div class="d-flex container mx-auto navbar-container">
    <%= link_to 'Helpjuice Logo', root_path, class: 'logo' %>
    <ul class="navigation-list d-flex">
      <% if current_user %>
        <li>
          <%= link_to "Posts", posts_path, class: "nav-link" %>
        </li>
        <li>
          <%= link_to "History", posts_path, class: "nav-link" %>
        </li>
        <li>
          <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "nav-link" %>
        </li>
      <% else %>
        <li>
          <%= link_to "Sign Up", new_user_registration_path, class: "nav-link" %>
        </li>
        <li>
          <%= link_to "Sign In", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>